Repository dcsturman/simple_json_server: changes, and which Codecov flags are due for each by the changed paths.
All: core, macro, integration

feat: set MSRV to Rust 1.85 for full modern feature support
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.md
  scripts/ci-local.sh
  simple_json_server/Cargo.toml
Due: none

Cargo fmt
  simple_json_server/examples/calculator.rs
  simple_json_server/examples/doc_test.rs
  simple_json_server/examples/server.rs
  simple_json_server/examples/tls_server.rs
  simple_json_server/src/test_actor.rs
  simple_json_server/tests/integration_test.rs
Due: core, integration

fix: replace let-chains with nested if statements for Rust 1.85 compatibility
  actor_attribute_macro/src/lib.rs
Due: macro

Cargo fmt
  actor_attribute_macro/src/lib.rs
Due: macro

fix: suppress clippy collapsible_if warnings for MSRV compatibility
  actor_attribute_macro/src/lib.rs
Due: macro

fix: update release workflow to use modern GitHub Actions
  .github/workflows/release.yml
  scripts/publish-crates.sh
Due: none

Remove extra keywords
  actor_attribute_macro/Cargo.toml
  simple_json_server/Cargo.toml
Due: none

Clean up README
  README.md
  simple_json_server/src/lib.rs
Due: core

Rix doctest
  simple_json_server/src/lib.rs
Due: core

Update README.md
  README.md
Due: none

Version updates
  Cargo.lock
  actor_attribute_macro/Cargo.toml
  simple_json_server/Cargo.toml
Due: none

slight fix to README
  README.md
  lcov.info
Due: none

Path conditions:
  core: any of: simple_json_server/src/, but not: target/, examples/demo/node_modules/, scripts/, docs/, *.md, *.toml, *.yml, *.yaml
  macro: any of: actor_attribute_macro/src/, but not: target/, examples/demo/node_modules/, scripts/, docs/, *.md, *.toml, *.yml, *.yaml
  integration: any of: simple_json_server/tests/, but not: target/, examples/demo/node_modules/, scripts/, docs/, *.md, *.toml, *.yml, *.yaml
